<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 class="alert-heading"><%= error.message %></h4>
    <p><%= error.text %></p>
  </div>
</div>
